//------------------------------------
//  $VARIABLES
//------------------------------------

// Base colours
$color-white				 :#FFFFFF;
$color-black				 :#000000;

// Primary palette
$color-p-1					:#1a2449;
$color-p-2					:#504afb;
