<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.scrumrun.poker"
    versionCode = "1"
    version     = "0.0.2"
    versionName ="Beta">

    <!-- versionCode is optional and Android only -->

    <name>Scrumrun Pocker</name>

    <description>
        Pocker Game for Scrum Run
    </description>

    <author href="https://build.phonegap.com" email="gregorio.baldari@gmail.com.com">
        Gregorio Baldari
    </author>

    <preference name="phonegap-version" value="cli-6.3.0" />

    <preference name="Orientation" value="landscape" />

<!--    <gap:plugin name="org.li8.inappbrowser" version="0.1" />-->

</widget>
